.vs/
DMS/bin/
DMS/obj/
docker-compose.override.*

DMS/appsettings.Development.json
DMS.Tests/bin/
DMS.Tests/obj/
StoreApp/bin/
StoreApp/obj/
StoreApp/appsettings.Development.json
DMS/appsettings.Production.json
DMS/DMS - Backup.csproj
DMS/DMS.csproj.user
DMS.ABE/obj/
DMS.ABE/bin/
DMS.FAST/obj/
DMS.FAST/bin/
DMS.FAST/appsettings.Development.json
